<?xml version="1.0"?>
<model>
  <name>Sofa</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>TMU TEXNITIS</name>
    <email>team@abu2026.local</email>
  </author>
  <description>Simple sofa placeholder model composed of box primitives.</description>
</model>
