<?xml version="1.0"?>
<model>
  <name>nist_maze_wall_120</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>TMU TEXNITIS</name>
    <email>team@abu2026.local</email>
  </author>
  <description>Placeholder implementation of the NIST maze wall 120 for local simulation.</description>
</model>
